<div class="pad">
<div class="mb-3 row">
    <label for='' class="col-sm-2 col-form-label">Name :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter your Name">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="" class="col-sm-2 col-form-label">Email :</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" placeholder="Enter your E-mail">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password :</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Ennter your Password">
    </div>
  </div>
  <div class="mb-3 row">
    <label for='' class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
        <button type="button" class="btn btn-outline-secondary">Signup</button>
    </div>
  </div>


  </div>